<div class="container">
  <h1>Map Name: <%= @location.map_name %></h1>

  <div id="notice"><%= @notice %></div>

  <input id="end" type="hidden" value="(<%= @location.latitude %>, <%= @location.longitude %>)">

  <div id="map-container" class="row">
    <div id="directions" class="col-sm-6"></div>
    <div id="map-canvas" class="col-sm-6"></div>
  </div>

  <form id="send_link" action="<%= @location.map_name %>/send_link" method="POST" class="form-horizontal">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <input id="address" type="text" name="address" placeholder="Send to a Phone # or Email" class="form-control">
        <button type="submit" class="btn btn-submit">Send</button>
      </div>
    </div>

  </form>

  <script type="text/javascript" src="javascripts/directions.js"></script>
</div>